
        .div-loja-tit {
            width: 729px;
            height: 35px;
            background-color: #008d40;
        }

        .div-loja-tit h2 {
            font-family: Arial;
            font-size: 18px;
            padding: 7px 0px 0px 17px;
            color: White;
        }

        .div-loja-item {
            background: #d7e5d9;
            margin: 3px 0px 12px 0px;
            height: 13rem;
            width: 73rem;
        }

        .div-loja-foto {
            padding: 6px 0px 6px 15px;
            width: auto;
            height: auto;
            float: left;
        }

        .div-loja-foto img {
            border: 1px solid #71b64a;
        }

        .div-loja-texto {
            padding-left: 12px;
            float: left;
            width: auto;
            height: auto;
            line-height: 1.2;
            margin: 6px 0px 0px 6px;
        }
        
        .div-loja-texto b{
          font-size: 15px;
        }

        .div-loja-texto p{
            font-size: 12px;
            margin: 2px;
        }

        .div-loja-icone li {
            display: inline;
            padding-right: 4px;
            vertical-align: middle;
        }

        .div-loja-icone ul {
            margin: 3px;
            padding: 3px;
        }

        .div-sub-conteudo>p {
        width: 52em;
        padding-top: 12px;
        }

        #div-sub-publicidade {
            width: 175px;
            /* float: right; */
            padding-left: 18px;
            padding-top: 2em;
        }

        #div-sub-publicidade li{
            list-style: none;

        }