
        .div-loja-tit {
            width: 719px;
            height: 35px;
            background-color: #008d40;
        }

        .div-loja-tit h2 {
            font-family: Arial;
            font-size: 18px;
            padding: 7px 0px 0px 17px;
            color: White;
        }

        .div-loja-foto {
            padding: 6px 0px 6px 15px;
            width: auto;
            height: auto;
            float: left;
        }

        .div-loja-foto img {
            border: 1px solid #71b64a;
        }

        .div-loja-texto {
            padding-left: 18px;
            float: left;
            width: 287px;
            height: 84px;
            line-height: 1;
        }

        .div-loja-texto p{
            font-size: 12px;
            margin: 2px;
        }














        #div-sub-publicidade {
            width: 175px;
            float: right;
            padding-left: 18px;
        }

        #div-sub-publicidade li{
            list-style: none;

        }